<div class="container-about-us content">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="box">
        <h1>Este es el titulo de about us</h1>
        <p>
          There are many variations of passages of Lorem Ipsum available, but the majority have suffered
          alteration in some form, by injected humour, or randomised words which don't look even slightly
          believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything
          embarrassing hidden in the middle of text.
        </p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="box">
        <img class="img-about-us" src="./../../../../assets//images/about.jpg" alt="imagen de about us">
      </div>
    </div>
  </div>
  <div class="row row-cards">
    <div class="col">
      <div class="row">
        <span>Este es un segundo titulo o una descripción</span>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="box">
            <mat-card>
              <mat-card-header>
                <mat-card-title>Este es un titulo</mat-card-title>
              </mat-card-header>
              <div class="crop-image">
                <img class="img-card" src="./../../../../assets/images/about-item.jpg" alt="">
              </div>
              <mat-card-content>
                <p>
                  There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                  alteration in some form, by injected humour
                </p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="box">
            <mat-card>
              <mat-card-header>
                <mat-card-title>Este es un titulo</mat-card-title>
              </mat-card-header>
              <div class="crop-image">
                <img src="./../../../../assets/images/about-item.jpg" alt="">
              </div>
              <mat-card-content>
                <p>
                  There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                  alteration in some form, by injected humour
                </p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="box">
            <mat-card>
              <mat-card-header>
                <mat-card-title>Este es un titulo</mat-card-title>
              </mat-card-header>
              <div class="crop-image">
                <img src="./../../../../assets/images/about-item.jpg" alt="">
              </div>
              <mat-card-content>
                <p>
                  There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                  alteration in some form, by injected humour
                </p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="box">
            <mat-card>
              <mat-card-header>
                <mat-card-title>Este es un titulo</mat-card-title>
              </mat-card-header>
              <div class="crop-image">
                <img src="./../../../../assets/images/about-item.jpg" alt="">
              </div>
              <mat-card-content>
                <p>
                  There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                  alteration in some form, by injected humour
                </p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>