<div class="content">
  <h1>Nuestras sedes</h1>
  <div class="row"></div>
  <div class="col">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Nombre de la sede</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="crop-image">
              <img class="img-card" src="./../../../../assets/images/about-item.jpg" alt="">
            </div>
            <div class="contact-info">
              <mat-icon>room
              </mat-icon>
              <span> Dirección:</span>
              <p>Lorem ipsum dolor sit amet</p>
            </div>
          </mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Nombre de la sede</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="crop-image">
              <img class="img-card" src="./../../../../assets/images/about-item.jpg" alt="">
            </div>
            <div class="contact-info">
              <mat-icon>room
              </mat-icon>
              <span> Dirección:</span>
              <p>Lorem ipsum dolor sit amet</p>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>